<div class="card shadow-sm h-100 text-center border-0">
    <div class="card-body d-flex flex-column justify-content-center">
        <img src="images/swagger-icon.png" alt="API Icon" class="mb-3" style="width:50px; margin:auto;" />
        <h5 class="card-title">@Api.Name</h5>
        <a href="@Api.URL" target="_blank" class="btn mt-2"
           style="background-color: var(--swagger-green); color: black; font-weight: bold; border: none;">
            Open API
        </a>

    </div>
</div>

@code {
	[Parameter] public ApiLink Api { get; set; }
}
