<div class="container py-4">
    <h2 class="mb-4 fw-bold text-center">Available APIs</h2>
</div>

<div class="row g-4">
	@foreach (ApiLink api in APIS)
{
	<div class="col-12 col-md-6 col-lg-4">
		<ApiCard Api="@api"/>
	</div>

}
</div>


@code {
	List<ApiLink> APIS = new List<ApiLink>
	{
		new ApiLink("Seinfeld API", "https://api.mortensens.xyz/seinfeld/swagger"),
		new ApiLink("KnowledgeCenter API", "https://api.mortensens.xyz/kc/swagger")
	};
}
